<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title th:text="'Foro Malaga Bicis - ' + ${tituloHilo}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    <body>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Mapa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/foro">Foro</a>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <h3 style="margin-left: 1%">Hilo - <span th:text="${tituloHilo}" th:remove="tag"></span></h3>
            <b style="margin-left: 1%">Escribe en el hilo: </b><input type='text' maxlength='500' id='inputMensaje'/>&nbsp;&nbsp;<input id='foto' type="file" class="imgur" accept="image/*" data-max-size="5000"/>
            &nbsp&nbsp<button type="button" class="btn btn-primary" onclick="publicarMensaje()">Enviar</button>
            <ul id="lista" class="list-group"></ul>
        </div>

        <script>
            var api_key = "8d5917c74fc0f90";

            function publicarMensaje() {
                var foto = document.getElementById("foto").files[0];
                var formData = new FormData();
                formData.append("image", foto);

                //PUBLICAR IMAGEN
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("POST", "https://api.imgur.com/3/image", false); // false for synchronous request
                xmlHttp.setRequestHeader("Authorization", "Client-ID " + api_key);
                xmlHttp.send(formData);
                var respuesta = JSON.parse(xmlHttp.responseText);


                var texto = document.getElementById("inputMensaje");
                var mensaje = new Object();
                mensaje.texto = texto.value;
                mensaje.id = 0;
                mensaje.fecha = new Date().toISOString().slice(0, 19).replace('T', ' ');

                mensaje.hilo = "[[${hilo}]]";
                var usuario = new Object();
                usuario.email = "[[${usuario}]]";
                usuario.token = "[[${token}]]";
                mensaje.imagen = respuesta.data.id;
                mensaje.usuario = usuario;

                //ENVIAR MENSAJE
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("POST", "http://localhost:8081/IngWebServiciosBD/webresources/entity.mensaje/hilo/" + "[[${hilo}]]", false); // false for synchronous request
                xmlHttp.setRequestHeader("Content-Type", "application/json");
                xmlHttp.send(JSON.stringify(mensaje));
                location.reload(true);
            }



            var hilo = "[[${hilo}]]";

            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", "http://localhost:8081/IngWebServiciosBD/webresources/entity.mensaje/from_hilo/" + hilo, false); // false for synchronous request
            xmlHttp.setRequestHeader("Accept", "application/json");
            xmlHttp.send(null);

            var mensajesText = xmlHttp.response;
            var mensajes = JSON.parse(mensajesText);
            var lista = document.getElementById("lista");

            mensajes.forEach(function (mensaje) {
                //Creacion de texto
                var elemento = document.createElement("p");
                elemento.innerHTML = mensaje.texto;
                elemento.style = "border-bottom: 1px";


                var xmlHttp2 = new XMLHttpRequest();
                xmlHttp2.open("GET", "https://api.imgur.com/3/image/" + mensaje.imagen, false); // false for synchronous request
                xmlHttp2.setRequestHeader("Authorization", "Client-ID " + api_key);
                xmlHttp2.setRequestHeader("Accept", "application/json");
                xmlHttp2.send(null);
                var imgData = JSON.parse(xmlHttp2.responseText);

                var foto = document.createElement("img");
                foto.src = imgData.data.link;
                foto.width = "300";
                foto.heigth = "300";

                //Usuario y fecha de creacion
                var usuarioYFecha = document.createElement("p");
                var negrita = document.createElement("b");
                negrita.innerHTML = "Enviado por: " + mensaje.usuario.token + " el " + mensaje.fecha.substring(0, 10);
                usuarioYFecha.appendChild(negrita);

                //Creacion de elemento de la lista
                var li = document.createElement("li");
                li.className = "list-group-item";
                li.appendChild(elemento);
                if (imgData.status != 404) {
                    li.appendChild(foto);
                }
                li.appendChild(document.createElement("br"));
                li.appendChild(usuarioYFecha);
                lista.appendChild(li);
            });

        </script>


        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
