<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es">
    <head>
        <title th:text="'Foro Malaga Bicis - ' + ${tituloHilo}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <style>
            a:link {
                color: #00bcc9;
                background-color: transparent;
                text-decoration: none;
            }

            a:visited {
                color: purple;
                background-color: transparent;
                text-decoration: none;
            }

            a:active, a:hover {
                color: #c7fbff;
                background-color: transparent;
                text-decoration: underline;
            }

            body {
                font-size: 1.2rem;
                color: #cfcfcf;
                background-color: #292b2c;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Olive Maps</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link"  href="/">Mapa </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/foro">Foro <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="bg-secondary">
            <div style="border-bottom: medium solid #fce9bb">
                <h3 style="margin-left: 1%">Hilo - <span th:text="${tituloHilo}" th:remove="tag"></span></h3>
                <b style="margin-left: 1%">Escribe en el hilo: </b> <input type='text' width="600" maxlength='500' id='inputMensaje'/><button style="margin-bottom: 0.5%; margin-left: 1%" type="button" class="btn btn-primary" onclick="publicarMensaje()">Enviar</button><br>
                <b style="margin-left: 1%">¡Añade una foto a tu mensaje! </b> <input id='foto' style="margin-left: 1%" type="file" class="imgur" accept="image/*" data-max-size="5000"/><br>
            </div>
            <ul id="lista" class="list-group bg-secondary"></ul>
        </div>

        <script>
            var api_key = "8d5917c74fc0f90";

            function publicarMensaje() {
                var foto = document.getElementById("foto").files[0];
                var formData = new FormData();
                formData.append("image", foto);

                //PUBLICAR IMAGEN
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("POST", "https://api.imgur.com/3/image", false); // false for synchronous request
                xmlHttp.setRequestHeader("Authorization", "Client-ID " + api_key);
                xmlHttp.send(formData);
                var respuesta = JSON.parse(xmlHttp.responseText);


                var texto = document.getElementById("inputMensaje");
                var mensaje = new Object();
                mensaje.texto = texto.value;
                mensaje.id = 0;
                mensaje.fecha = new Date().toISOString().slice(0, 19);//.replace('T', ' ');

                mensaje.hilo = parseInt("[[${hilo}]]");
                var usuario = new Object();
                usuario.email = "[[${usuario}]]";
                usuario.token = "[[${token}]]";
                mensaje.imagen = respuesta.data.id;
                mensaje.usuario = usuario;

                //ENVIAR MENSAJE
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("POST", "/entity.mensaje/hilo/" + "[[${hilo}]]", false); // false for synchronous request
                xmlHttp.setRequestHeader("Content-Type", "application/json");
                xmlHttp.send(JSON.stringify(mensaje));
                location.reload(true);
            }



            var hilo = "[[${hilo}]]";

            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", "/entity.mensaje/from_hilo/" + hilo, false); // false for synchronous request
            xmlHttp.setRequestHeader("Accept", "application/json");
            xmlHttp.send(null);

            var mensajesText = xmlHttp.response;
            console.log(mensajesText);
            var mensajes = JSON.parse(mensajesText);
            var lista = document.getElementById("lista");

            mensajes.forEach(function (mensaje) {
                //Creacion de texto
                var elemento = document.createElement("p");
                elemento.innerHTML = mensaje.texto;
                elemento.style = "border-bottom: 1px";


                var xmlHttp2 = new XMLHttpRequest();
                xmlHttp2.open("GET", "https://api.imgur.com/3/image/" + mensaje.imagen, false); // false for synchronous request
                xmlHttp2.setRequestHeader("Authorization", "Client-ID " + api_key);
                xmlHttp2.setRequestHeader("Accept", "application/json");
                xmlHttp2.send(null);
                var imgData = JSON.parse(xmlHttp2.responseText);

                var foto = document.createElement("img");
                foto.src = imgData.data.link;
                foto.width = "300";
                foto.heigth = "300";
                foto.className = "rounded";

                //Usuario y fecha de creacion
                var usuario = document.createElement("p");
                var negrita = document.createElement("b");
                //negrita.innerHTML = "Enviado por: " + mensaje.usuario.token;
                console.log(mensaje);
                usuario.appendChild(negrita);

                var fecha = document.createElement("p");
                var negrita2 = document.createElement("b");
                negrita2.innerHTML = mensaje.fecha.substring(0, 10);
                fecha.appendChild(negrita2);
                fecha.style = "font-size: 1rem";

                //Creacion de elemento de la lista
                var li = document.createElement("li");
                li.className = "list-group-item bg-secondary";
                li.style = "border-bottom: thin solid #fce9bb";
                li.appendChild(usuario);
                li.appendChild(elemento);
                if (imgData.status >= 200 && imgData.status < 300) {
                    li.appendChild(foto);
                }
                li.appendChild(document.createElement("br"));
                li.appendChild(fecha);
                lista.appendChild(li);
            });

        </script>


        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
