<!DOCTYPE HTML>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang=”es” xmlns:th=http://www.thymeleaf.org>
    <head>
        <title>Google OAuth login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- INSERT YOUR <CLIENT_ID> IN THE LINE BELOW -->
        
        <meta name="google-signin-client_id" content="1019387256307-v6e72mosg75v9qq6bjb042pkbquq9hr5.apps.googleusercontent.com">
        <script>
            function onSignIn(googleUser) {
                var id_token = googleUser.getAuthResponse().id_token;
                console.log('ID token: ' + id_token);
                
                //Envio al backend
                var input = document.getElementById('id_token');
                input.value = id_token;
                form.submit();
                }
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                    });
                }
        </script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>
    <body>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <a href="#" onclick="signOut();">Sign out</a>
        <form id="form" th:action="@{/}" th:method="post">
            <input id="id_token" type="hidden" th:name="id_token"/>
        </form>
        <p style="color: red" th:text="${error}"/>
    </body>
</html>