<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es">
    <head>
        <title th:text="'Foro Malaga Bicis - ' + ${tema}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <style>
            a:link {
                color: #00bcc9;
                background-color: transparent;
                text-decoration: none;
            }

            a:visited {
                color: purple;
                background-color: transparent;
                text-decoration: none;
            }

            a:active, a:hover {
                color: #c7fbff;
                background-color: transparent;
                text-decoration: underline;
            }

            body {
                font-size: 1.2rem;
                color: #cfcfcf;
                background-color: #292b2c;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Olive Maps</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link"  href="/">Mapa </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/foro">Foro <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="bg-secondary">
            <div style="border-bottom: medium solid #fce9bb">
                <h3 style="margin-left: 1%">Tema - <span th:text="${tema}" th:remove="tag"></span></h3>
                <b style="margin-left: 1%">Introduzca un t&iacute;tulo para abrir un hilo: </b><input width="600" type='text' id='inputTituloHilo'/>
                &nbsp&nbsp<button style="margin-bottom: 0.5%" type="button" class="btn btn-primary" onclick="crearHilo()">Abrir hilo</button>
            </div>
            <ul id="lista" class="list-group bg-secondary"></ul>
        </div>

        <script>
            function crearHilo() {
                var titulo = document.getElementById("inputTituloHilo");
                var hilo = new Object();
                hilo.titulo = titulo.value;
                hilo.id = 0;
                var tema = new Object();
                tema.titulo = "[[${tema}]]";
                tema.descripcion = "[[${descripcion}]]";
                hilo.tema = tema;
                var usuario = new Object();
                usuario.email = "[[${usuario}]]";
                usuario.token = "[[${token}]]";
                hilo.usuario = usuario;
                hilo.fecha = new Date().toISOString().slice(0, 19).replace('T', ' ');

                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("POST", "https://malaga-bici.herokuapp.com/entity.hilo/", false); // false for synchronous request
                xmlHttp.setRequestHeader("Content-Type", "application/json");
                xmlHttp.send(JSON.stringify(hilo));
                location.reload(true);
            }



            var tema = "[[${tema}]]";
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", "https://malaga-bici.herokuapp.com/entity.hilo/tema/" + tema, false); // false for synchronous request
            xmlHttp.setRequestHeader("Accept", "application/json");
            xmlHttp.send(null);

            var hilosText = xmlHttp.response;
            var hilos = JSON.parse(hilosText);
            var lista = document.getElementById("lista");

            hilos.forEach(function (hilo) {
                //Creacion de link al controlador
                var elemento = document.createElement("a");
                elemento.innerHTML = hilo.titulo;
                elemento.href = "javascript:{}";

                //Se pasa como parametro el id del hilo 
                var id = document.createElement("input");
                id.type = "hidden";
                id.value = hilo.id;
                id.setAttribute('name', "hilo");

                var titulo = document.createElement("input");
                titulo.type = "hidden";
                titulo.value = hilo.titulo;
                titulo.setAttribute('name', "tituloHilo");

                //Usuario y fecha de creacion
                var usuarioYFecha = document.createElement("p");
                var negrita = document.createElement("b");
                negrita.innerHTML = "Creado por: " + hilo.usuario.token + " el " + hilo.fecha.substring(0, 10);
                usuarioYFecha.appendChild(negrita);

                //Creacion formulario
                var f = document.createElement("form");
                f.setAttribute('method', "get");
                f.setAttribute('action', "/hilo");
                elemento.onclick = function () {
                    f.submit();
                };
                f.appendChild(elemento);
                f.appendChild(document.createElement("br"));
                f.appendChild(usuarioYFecha);
                f.appendChild(id);
                f.appendChild(titulo);

                //Creacion de elemento de la lista
                var li = document.createElement("li");
                li.className = "list-group-item bg-secondary";
                li.style = "border-bottom: thin solid #fce9bb";
                li.appendChild(f);
                lista.appendChild(li);
            });
        </script>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
